apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  - name: gcp-artifact-registry-credential-provider
    matchImages:
      - "{{ gcp_artifact_registry_hostname }}"
    defaultCacheDuration: "30m"
    apiVersion: credentialprovider.kubelet.k8s.io/v1
